<div class="starter-template">
    <h1>Join and follow Celebreties and Enterpreneurs</h1>
    <p class="lead">It's free and always will be, signup and enjoy a new social experience!</p>
</div>

<div class="col-md-8 offset-md-4">
    <a class="btn btn-primary btn-lg" href="/signup">Signup</a>
    <a class="btn btn-primary btn-lg" href="/login">Login</a>
</div>